.company-page-container {
  display: flex;
  gap: 24px;
  margin: 0 auto;
  max-width: 1440px;
  align-items: stretch;
  height: 80svh;
  overflow: visible;
}

.company-details-container {
  background-color: white;
  padding: 24px;
  flex-grow: 1;
  border-radius: 12px;
  height: 100%;
  overflow: auto;
}

.company-details-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.company-logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--light-tertiary);
}
