.form-block {
  display: flex;
  flex-direction: column;
  gap: 24px;

  label {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    width: 100%;

    & > div {
      padding-left: 16px;
    }

    &.button {
      width: fit-content;
      margin: 0 0 0 auto;
      input {
        background-color: transparent;
        border: none;
        padding: 6px 12px;
        font-size: 16px;
        font-weight: 500;
        color: var(--light-tertiary);
      }
    }
  }

  .form-row {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
  }

  input,
  textarea {
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid var(--tertiary);
    background-color: var(--light-tertiary);
    resize: vertical;
    height: max-content;
    max-height: 60svh;
  }
}
