.children-container {
  height: 92svh;
  overflow: auto;
}

.process-candidates-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 24px;
  margin-top: 32px;

  .list-heading {
    padding-left: 24px;
    color: var(--light-secondary);
  }

  .title-n-list-container {
    flex-grow: 1;
    flex-shrink: 0;
  }
}
