.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(40px);

  .form-container {
    background-color: white;
    min-width: 30svw;
    border-radius: 12px;
    padding: 24px;
  }
}
