.table-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  background-color: white;
  position: sticky;
  bottom: -1px;
  padding: 8px;
  border-top: 1px solid var(--light-tertiary);
}

.pagination-button {
  cursor: pointer;

  &.disabled {
    pointer-events: none;
    opacity: 0.4;
  }
}
