.header-macro-container {
  form {
    display: flex;
    gap: 16px;
    label {
      display: flex;
      flex-direction: column;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 0.1em;

      input,
      select {
        padding: 12px 16px;
        border-radius: 8px;
        border: 1px solid var(--tertiary);
        background-color: var(--light-tertiary);
        width: fit-content;
      }
    }
  }

  &.contracted {
    background-color: white;
    border-radius: 12px;
    padding: 24px;
    /* Details Header */
    .process-header {
      margin-bottom: 2px;
      padding-left: 0;
    }
    /* Details container */
    .process-details-container {
      background-color: transparent;
      padding: 0;
    }
    .stages-row {
      display: none;
    }
    .stages-title {
      display: none;
    }

    .description-expander-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .etapa-contracted {
        display: block;
        color: var(--light-secondary);
        opacity: 0.8;
      }

      .description-expander {
        display: flex;
        align-items: center;
        cursor: pointer;
        p {
          width: fit-content;
        }
        &:hover {
          color: var(--primary);
        }
      }
    }

    /* Componente Descripción */
    .description-container {
      display: none;
    }
  }

  /* Details Header */
  .process-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: top;
    margin-bottom: 24px;
    padding-left: 24px;

    .title-and-sub {
      p {
        color: var(--light-secondary);
      }
    }
  }

  /* Details container */
  .process-details-container {
    background-color: white;
    border-radius: 12px;
    padding: 24px;
  }
  .stages-row {
    display: flex;
    gap: 8px;
    width: 100%;
  }
  .stages-title {
    margin-bottom: 8px;
    color: var(--light-secondary);
  }

  .description-expander-container {
    display: flex;
    justify-content: flex-end;

    .etapa-contracted {
      display: none;
    }

    .description-expander {
      display: flex;
      align-items: center;
      cursor: pointer;
      p {
        width: fit-content;
      }
      &:hover {
        color: var(--primary);
      }
    }
  }

  /* Componente Descripción */
  .description-container {
    display: flex;
    gap: 32px;
    align-items: center;
    margin-top: 24px;
    max-width: 1080px;
    margin: 0 auto;
    div {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        width: 100%;
        margin-bottom: 8px;
      }

      img {
        height: 400px;
      }
    }
  }

  .buttons-container {
    display: flex;
    gap: 16px;
  }
}

/* Componente Etapa */
@keyframes activeStage {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
.stage-container {
  flex-grow: 1;
  color: var(--light-secondary);
  .progress-bar {
    background-color: var(--tertiary);
    height: 8px;
    width: 100%;
    border-radius: 24px;
    margin-top: 4px;
  }

  &.done {
    color: var(--primary);
    .progress-bar {
      background-color: var(--primary);
    }
  }

  &.active {
    color: var(--primary);
    .progress-bar {
      position: relative;
      overflow: clip;
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: var(--primary);
        position: absolute;
        top: 0;
        left: 0;
        animation: activeStage 1.5s linear infinite;
      }
    }
  }
}

.overlay-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(20px);

  .confirm-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 23px;
    padding: 32px;
    background-color: white;
    border-radius: 12px;
  }
}
