.search-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 24px;
  position: relative;

  &.no-search {
    justify-content: flex-end;
  }

  input {
    flex-grow: 1;
    padding-left: 32px;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--light-secondary);
  }

  .icon-search {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--light-secondary);
  }
}
