.total-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 32px;
}

.button-note-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}

.client-note-container {
  max-width: 600px;
  margin: 0 0 0 auto;
}
