.total-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 32px;
}

.button-note-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}

.client-note-container {
  max-width: 600px;
  margin: 0 0 0 auto;
}

.pro-header {
  margin-bottom: 48px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--tertiary);
}

.professionals-table {
  margin-top: 32px;
}

.professionals-table th {
  padding: 16px;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--light-secondary);
  font-weight: 600;
  text-align: left;
  background-color: var(--light-tertiary);
}